@import "nullstyle.scss";

.knopka {
	padding:20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	letter-spacing: 2px;
}


body{
	background-color: #343334;
	padding:45px 40px;
	font-family: Roboto;
	font-weight: normal;
}

.yellow {
	color:yellow;
}
h1{
	font-size: 30px;
	color:#fff;
	margin:0px 0px 10px 0px;
}

h2{
	color:#fff;
	font-weight: normal;
}








